<nav-bar></nav-bar>

<div class="container-fluid" ng-controller="ItemListController">
	<div class="c-spacer-bottom" ng-show="hasParent">
		<nav>
			<button class="btn btn-default" aria-label="Left Align" ng-click="back()">
				<span class="fa fa-arrow-left" aria-hidden="true"></span>
				back
			</button>
		</nav>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-4 slide-top" ng-repeat="item in items" ng-click="pageToChildren(item)">
			<div class="c-item clearfix">
				<div class="img"></div>
				<!--<img src="#" />-->
				<span>{{item.name}}</span>
			</div>
		</div>
	</div>
</div>