<div class="row" ng-cloak>
	<div class="col-sm-6 col-md-4 slide-top" ng-repeat="item in items">
		<!-- item button -->
		<div class="c-item clearfix" ng-if="!editing" ng-click="selectItem(item)" ng-class="{'hover':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
			<div class="img">
				<img ng-src="{{'api/images/' + item.getImageId()}}" />
			</div>
			<span>{{item.getDisplayName()}}</span>
		</div>
		<!-- end item button -->
		<!-- edit mode item button -->
		<div class="c-item clearfix" ng-if="editing" ng-click="editItem(item)" ng-class="{'hover':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
			<div class="img">
				<img ng-src="{{'api/images/' + item.getImageId()}}" />
			</div>
			<span>{{item.getDisplayName()}}</span>
			<div class="c-menu">
				<i class="fa fa-times" ng-click="onItemDelete(item)"></i>
			</div>
		</div>
		<!-- end edit mode item button -->
	</div>
</div>