<form role="form">

	<!-- Calendar -->

	<div class="form-group">
		<label>Time</label>
		<div class="form-group">
			<input type="text"
					 kendo-date-time-picker
					 k-on-change="selectDateTime(kendoEvent)"
					 k-ng-model="currentDate"
					 k-format="'M/d/yyyy h:mm tt'" />
		</div>
	</div>

	<div class="slide-top" ng-repeat="control in controls">

		<div ng-switch="control.controlType.name">

			<!-- Checkbox Control -->

			<div class="form-group" ng-switch-when="Checkbox">

				<label>{{control.displayName}}</label>
				<div class="form-group">
					<div ng-repeat="controlOption in control.controlOptions">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="controlOption.checked" /> {{controlOption.displayName}}
							</label>
						</div>
					</div>
				</div>

			</div>

			<!-- Option Control -->

			<div class="form-group" ng-switch-when="Radio">

				<label>{{control.displayName}}</label>
				<div class="form-group">
					<div ng-repeat="controlOption in control.controlOptions">
						<div class="radio">
							<label>
								<input type="radio" name="{{control.displayName}}" ng-model="control.value" ng-value="controlOption.id" /> {{controlOption.displayName}}
							</label>
						</div>
					</div>
				</div>

			</div>

			<!-- Texbox Control -->

			<div class="form-group" ng-switch-when="Textbox">

				<label>{{control.displayName}}:</label>
				<textarea class="form-control" rows="3" ng-model="control.value"></textarea>

			</div>
		</div>
	</div>

	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" ng-click="save()">Save</button>
</form>