@{
	ViewBag.Title = "What Now!";
}
<div class="container-fluid">
	<h2>What Now!</h2>
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="" alt="" />
				<div class="caption">
					<h3>Blowing Chunks</h3>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="" alt="" />
				<div class="caption">
					<h3>Eating</h3>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="" alt="" />
				<div class="caption">
					<h3>Pooping</h3>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="" alt="" />
				<div class="caption">
					<h3>Peeing</h3>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="" alt="" />
				<div class="caption">
					<h3>Farting</h3>
				</div>
			</div>
		</div>
	</div>
</div>