@{
	ViewBag.Title = "What Now!";
}

@section Styles{
	<link rel="stylesheet" href="~/lib/toastr/toastr.css" />
}

@section scripts{
	<script type="text/javascript" src="~/lib/toastr/toastr.min.js"></script>
	<script type="text/javascript" src="~/js/client/toastr.config.js"></script>

	<script type="text/javascript" src="~/js/client/app.js"></script>
	<script type="text/javascript" src="~/js/client/controllers/item_list_controller.js"></script>
	<script type="text/javascript" src="~/js/client/services/module.js"></script>
	<script type="text/javascript" src="~/js/client/services/item_service.js"></script>
	<script type="text/javascript" src="~/js/client/services/item_log_service.js"></script>
	<script type="text/javascript" src="~/js/client/services/item_query_service.js"></script>
}

<div class="container-fluid" ng-controller="ItemListController">

	<h2>What Now!</h2>

	<div class="row">
		<div class="col-sm-6 col-md-4" ng-repeat="item in items" ng-click="onClick(item)">
			<div class="thumbnail">
				<img src="" alt="" />
				<div class="caption">
					<h3>{{item.name}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>